/* CSS Document */
body{
	margin: 20px;
	background-color: #02010a;
	color: white;
	font-family: 'Dancing Script', cursive;
	margin: auto;
	width: 900px;
	}

header{
	border-radius: 10px 10px 0 0;
	background:-webkit-linear-gradient(left,#5b7989, #558FAD);  PARA SAFARI
	background-attachment: ;ckground: -o-linear-gradient(right, #5b7989 , #558FAD); *PARA OPERA
	background: -moz-linear-gradiant(right,#5b7989 , #558FAD); para firefox
	background: linear-gradiant( to rigth,#5b7989 , #558FAD);  Estandar
	
	
footer{
	background-color: #c6d5c5;
	border-radius: 0  0 10px 10px; 
}